{{#if selectedCategory}}
  {{category-badge category=selectedCategory}}
  <span data-test-selector="selected-category-name">{{selectedCategory.name}}</span>
{{/if}}
{{#ember-wormhole to="create-trasaction-main" renderInPlace=isTesting}}
  {{#side-drawer isOpen=drawerOpened position='right'}}
    {{category-selector categories=categories onSelection=(action 'categorySelected')}}
  {{/side-drawer}}
{{/ember-wormhole}}
