<span {{action "selectCategory"}} data-test-toggle-category-selector>
  {{#if selectedCategory}}
    <div class="list-item--info">
      {{category-badge category=selectedCategory}}
      <span class="list-item--description" data-test-selected-category-name>{{selectedCategory.name}}</span>
    </div>
  {{/if}}
</span>
{{#ember-wormhole to="create-transaction-main" renderInPlace=isTesting}}
  {{#side-drawer isOpen=drawerOpened position='right' parentSelector='#create-transaction-main'}}
    {{category-selector categories=categories onSelection=(action 'categorySelected')}}
  {{/side-drawer}}
{{/ember-wormhole}}
