<span>
  {{#if selectedCategory}}
    <div class="list-item--info">
      {{category-badge category=selectedCategory}}
      <span class="list-item--description" data-test-selected-category-name>{{selectedCategory.name}}</span>
    </div>
  {{/if}}
</span>
{{#if label}}
  <label>{{label}}</label>
{{/if}}
