{{one-way-input displayValue data-test-date-picker-input onclick=(action "toggleModal")}}
{{#if label}}
  <label>{{label}}</label>
{{/if}}
{{#if modalOpened}}
  {{#modal-dialog onClose="toggleModal" translucentOverlay=true}}
    {{power-calendar
      onSelect=(action "dateSelected" value="date")
      selected=internalValue
      center=calendarCenter
      onCenterChange=(action (mut calendarCenter) value="date")
    }}
  {{/modal-dialog}}
{{/if}}
