<span data-test-value-display class="{{if (eq transactionType 'income') 'income-amount'}} {{if (eq transactionType 'outcome') 'outcome-amount'}}" {{action "toggleSelector"}}>
  {{displayValue}}
</span>
