@import "../ember-modal-dialog/ember-modal-structure";
@import "../ember-modal-dialog/ember-modal-appearance";

.ember-modal-dialog {
  padding: 0;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.ember-modal-overlay.translucent {
  background-color: rgba(0, 0, 0, 0.2);
}
