@import "mui";
@import "addons/ember-modal-dialog";
@import "addons/ember-power-calendar";
@import "components/calc-input";

/* List item */

li.list-item {
  padding: 10px 0;
}
li.list-item:last-child {
  padding-bottom: 0;
}
.list-item--info {
  display: flex;
  align-items: center;
}
.list-item--description {
  margin: 0;
  line-height: 1.2;
  font-weight: 400;
  font-size: 20px;
}

/* end list item */

.mui-appbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.appbar-brand {
  font-size: 20px;
  margin: 0;
  display: inline-block;
}
.appbar-title {
  text-transform: uppercase;
}

/* month view */

.month-summary-header,
.transaction--list-header {
  font-weight: 600;
  padding: 0 5px 5px;
}
.month-summary-header {
  font-size: 18px;
  text-transform: capitalize;
}
.month-summary-content > div {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.month-summary-content > div:last-child {
  flex-direction: row-reverse;
}
.month-summary-balance-total {
  font-size: 17px;
  font-weight: 500;
  width: 100px;
  text-align: right;
}
.no-transactions {
  color: #737373;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5em;
}
.no-transactions small {
  font-size: 65%;
}

/* end month view */

.outcome-amount {
  color: #e53935 !important;
}
.income-amount {
  color: #2e7d32 !important;
}
.transaction--list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transaction--list-date {
  display: flex;
}
.transaction--list-date .number {
  font-size: 2.5em;
  line-height: 1;
}
.transaction--list-date > span:not(.number) {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}
.transaction--list-date > span:not(.number) > small,
.transaction--list-item-description > small {
  font-weight: 400;
  color: #616161;
}
.transaction--list-total-balance {
  font-weight: 500;
}
ul.transaction--list-box {
  margin-bottom: 0;
}
li.transaction--list-item {
  display: flex;
  justify-content: space-between;
}
.transaction--list-item-description {
  display: flex;
  flex-direction: column;
}
.category--badge {
  background-color: #00c853;
  margin: 0.4em 0.6em 0.4em 0;
  border-radius: 50%;
  font-size: 19px;
  color: white;
  width: 2.2em;
  height: 2.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
}
.category--badge::after {
  content: "";
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font: normal normal normal 0.6em/1 FontAwesome;
  border: 2px solid white;
  position: absolute;
  top: -.6em;
  right: -1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category--badge.category--badge-income::after {
  background-color: #2e7d32;
  content: "\f067";
}
.category--badge.category--badge-outcome::after {
  background-color: #e53935;
  content: "\f068";
}
.category--badge > span {
  line-height: 0;
}

/* category-selector component */

.category--selector {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.category--selector > .main {
  flex-grow: 1;
  overflow: auto;
  min-height: 144px;
  padding: 0 15px;
}
.category--selector .mui-tabs__bar > li.mui--is-active {
  border-bottom: none;
  border-top: 2px solid #2196f3;
}
.category--selector .list-item--info {
  position: relative;
}
.category--selector .list-item--info::after {
  content: "";
  width: 81%;
  position: absolute;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.26);
  right: 0;
  bottom: 10%;
}

/* Sidedrawer */

// .sidedrawer {
//   width: 300px;
//   transition: transform 0.2s ease-in-out;
//   position: fixed;
//   bottom: 0;
// }
// .sidedrawer.sidedrawer-left-positioned {
//   left: 0;
//   transform: translateX(-300px);
// }
// .sidedrawer.sidedrawer-right-positioned {
//   right: 0;
//   transform: translateX(300px);
// }
// .sidedrawer-sibling {
//   margin: 0;
//   transition: margin 0.2s ease-in-out;
// }
// .sidedrawer.sidedrawer-opened {
//   transform: translateX(0);
// }
// .sidedrawer-sibling.sidedrawer-sibling-opened.sidedrawer-sibling-right {
//   margin-right: 300px;
// }
// .sidedrawer-sibling.sidedrawer-sibling-opened.sidedrawer-sibling-left {
//   margin-left: 300px;
// }

/* end Sidedrawer */

.transaction--panel:last-child {
  margin-bottom: 90px;
}

.create-transaction-link {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 15px;
}

@keyframes fillup {
  0% {
    stroke-dasharray: 0 158;
  }
  50% {
    stroke-dasharray: 158 158;
    transform: rotate(0);
  }

  100% {
    transform: rotate(365deg);
    stroke-dasharray: 0 158;
  }
}

#pie-loading {
  background-color: #2196f3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#pie-loading > div {
  color: white;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.1em;
}

#pie-loading circle {
  fill: yellowgreen;
  stroke: #ffb300;
  transform-origin: center;
  stroke-width: 50;
  stroke-dasharray: 0 158; /* 2π × 25 ≈ 158 */
  animation: fillup 2.4s ease-in-out infinite both;
}

#pie-loading svg {
  background-color: yellowgreen;
  border-radius: 50%;
  transform: rotate(-90deg);
}

// done
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background-color: #f5f5f5;
}
header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

main {
  margin-top: 5px;
}

.mui-textfield {
  > span {
    min-height: 32px;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    outline: none;
    width: 100%;
    padding: 0;
    box-shadow: none;
    border-radius: 0px;
    font-size: 16px;
    font-family: inherit;
    line-height: 32px;
    background-image: none;
  }

  &.focused {
    > span {
      min-height: 33px;
      margin-bottom: -1px;
      border-color: #2196f3;
      border-width: 2px;
    }

    > label {
      color: #2196f3;
    }
  }
}

ul.input-validation-errors {
  list-style-position: inside;
  padding-left: 3%;
  margin-top: 10px;
  color: hsla(4, 90%, 48%, 1);
  font-weight: 300;
}
