body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}

header {
  position: fixed;
  right: 0;
  left: 0;
}

.mui-appbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.appbar-brand {
  font-size: 20px;
}

.appbar-title {
  text-transform: uppercase;
}

.month-summary-header, .transaction--list-header {
  font-weight: 600;
  padding: 0 5px 5px;
}

.month-summary-header {
  font-size: 18px;
}

.month-summary-content .mui-table {
  margin-bottom: 0;
}

.month-summary-content .mui-table > tbody > tr > td {
  padding: 5px;
}

td.month-summary-balance {
  text-align: right;
  width: 10%;
}

.month-summary-balance-total {
  font-size: 17px;
  font-weight: 500;
}

.month-summary-balance-total.negative-total {
  color: #E53935;
}

.transaction--list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction--list-date {
  display: flex;
}

.transaction--list-date .number {
  font-size: 2.5em;
  line-height: 1;
}

.transaction--list-date > span:not(.number) {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.transaction--list-date > span:not(.number) > small {
  font-weight: 400;
}

.transaction--list-total-balance {
  font-weight: 500;
}
