body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
  background-color: #F5F5F5;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

/* List item */
li.list-item {
  padding: 10px 0;
}

li.list-item:last-child {
  padding-bottom: 0;
}

.list-item--info {
  display: flex;
  align-items: center;
}

.list-item--description {
    margin: 0;
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    line-height: 1.2;
}
/* end list item */

.mui-appbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.appbar-brand {
  font-size: 20px;
  margin: 0;
}

.appbar-title {
  text-transform: uppercase;
}

.month-summary-header, .transaction--list-header {
  font-weight: 600;
  padding: 0 5px 5px;
}

.month-summary-header {
  font-size: 18px;
}

.month-summary-content .mui-table {
  margin-bottom: 0;
}

.month-summary-content .mui-table > tbody > tr > td {
  padding: 5px;
}

td.month-summary-balance {
  text-align: right;
  width: 10%;
}

.month-summary-balance-total {
  font-size: 17px;
  font-weight: 500;
}

.expense-amount {
  color: #E53935;
}

.income-amount {
  color: #2E7D32;
}

.transaction--list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction--list-date {
  display: flex;
}

.transaction--list-date .number {
  font-size: 2.5em;
  line-height: 1;
}

.transaction--list-date > span:not(.number) {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.transaction--list-date > span:not(.number) > small,
.transaction--list-item-description > small {
  font-weight: 400;
  color: #616161;
}

.transaction--list-total-balance {
  font-weight: 500;
}

ul.transaction--list-box {
  margin-bottom: 0;
}

li.transaction--list-item {
  display: flex;
  justify-content: space-between;
}

.transaction--list-item-description {
  display: flex;
  flex-direction: column;
}

.category--badge {
  background-color: #00C853;
  margin: .4em .6em .4em 0;
  border-radius: 50%;
  font-size: 19px;
  color: white;
  width: 2.2em;
  height: 2.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
}

.category--badge::after {
  content: "";
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font: normal normal normal .6em/1 FontAwesome;
  border: 2px solid white;

  position: absolute;
  top: -.6em;
  right: -1em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.category--badge.category--badge-income::after {
  background-color: #2E7D32;
  content: "\f067";
}

.category--badge.category--badge-outcome::after {
  background-color: #E53935;
  content: "\f068";
}

.category--badge > span {
  line-height: 0;
}

#transaction-appbar {
  background-color: #78909C;
  color: white;
}

#transaction-appbar > a.appbar-brand {
  color: inherit;
}

.category-selector-input {
  height: 32px;
  width: 100%;
  display: block;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

/* Sidedrawer */
.sidedrawer {
  width: 300px;
  /*background-color: red;*/
  transition: transform 0.2s ease-in-out;
  position: fixed;
  bottom: 0;
  overflow: auto;
}

.sidedrawer.sidedrawer-left-positioned {
  left: 0;
  transform: translateX(-300px);
}

.sidedrawer.sidedrawer-right-positioned {
  right: 0;
  transform: translateX(300px);
}

.sidedrawer-sibling {
  margin: 0;
  transition: margin 0.2s ease-in-out;
}

.sidedrawer.sidedrawer-opened {
  transform: translateX(0);
}

.sidedrawer-sibling.sidedrawer-sibling-opened.sidedrawer-sibling-right {
  margin-right: 300px;
}

.sidedrawer-sibling.sidedrawer-sibling-opened.sidedrawer-sibling-left {
  margin-left: 300px;
}
