@import "mui";
@import "addons/ember-modal-dialog";
@import "addons/ember-power-calendar";
@import "components/calc-input";
@import "components/category-badge";
@import "components/category-selector";
@import "components/transaction-panel";
@import "pages/months-view";

/* List item */

li.list-item {
  padding: 10px 0;
}
li.list-item:last-child {
  padding-bottom: 0;
}
.list-item--info {
  display: flex;
  .list-item--description {
    margin: 0;
    line-height: 1.2;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}

/* end list item */

.mui-appbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.appbar-brand {
  font-size: 20px;
  margin: 0;
  display: inline-block;
}
.appbar-title {
  text-transform: uppercase;
}

.outcome-amount {
  color: #e53935 !important;
}
.income-amount {
  color: #2e7d32 !important;
}

@keyframes fillup {
  0% {
    stroke-dasharray: 0 158;
  }
  50% {
    stroke-dasharray: 158 158;
    transform: rotate(0);
  }

  100% {
    transform: rotate(365deg);
    stroke-dasharray: 0 158;
  }
}

#pie-loading {
  background-color: #2196f3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#pie-loading > div {
  color: white;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.1em;
}

#pie-loading circle {
  fill: yellowgreen;
  stroke: #ffb300;
  transform-origin: center;
  stroke-width: 50;
  stroke-dasharray: 0 158; /* 2π × 25 ≈ 158 */
  animation: fillup 2.4s ease-in-out infinite both;
}

#pie-loading svg {
  background-color: yellowgreen;
  border-radius: 50%;
  transform: rotate(-90deg);
}

// done
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background-color: #f5f5f5;
}
header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

main {
  margin-top: 5px;
}

.mui-textfield {
  > span {
    min-height: 32px;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    outline: none;
    width: 100%;
    padding: 0;
    box-shadow: none;
    border-radius: 0px;
    font-size: 16px;
    font-family: inherit;
    line-height: 32px;
    background-image: none;
  }

  &.focused {
    > span {
      min-height: 33px;
      margin-bottom: -1px;
      border-color: #2196f3;
      border-width: 2px;
    }

    > label {
      color: #2196f3;
    }
  }
}

ul.input-validation-errors {
  list-style-position: inside;
  padding-left: 3%;
  margin-top: 10px;
  color: hsla(4, 90%, 48%, 1);
  font-weight: 300;
}
