body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
  background-color: #F5F5F5;
}
header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

/* List item */

li.list-item {
  padding: 10px 0;
}
li.list-item:last-child {
  padding-bottom: 0;
}
.list-item--info {
  display: flex;
  align-items: center;
}
.list-item--description {
  margin: 0;
  line-height: 1.2;
  font-weight: 400;
  font-size: 20px;
}

/* end list item */

.mui-appbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.appbar-brand {
  font-size: 20px;
  margin: 0;
}
.appbar-title {
  text-transform: uppercase;
}

/* month view */

.month-summary-header, .transaction--list-header {
  font-weight: 600;
  padding: 0 5px 5px;
}
.month-summary-header {
  font-size: 18px;
}
.month-summary-content .mui-table {
  margin-bottom: 0;
}
.month-summary-content .mui-table > tbody > tr > td {
  padding: 5px;
}
td.month-summary-balance {
  text-align: right;
  width: 10%;
}
.month-summary-balance-total {
  font-size: 17px;
  font-weight: 500;
}
.no-transactions {
  color: #737373;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5em;
}
.no-transactions small {
  font-size: 65%;
}

/* end month view */

.outcome-amount {
  color: #E53935 !important;
}
.income-amount {
  color: #2E7D32 !important;
}
.transaction--list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transaction--list-date {
  display: flex;
}
.transaction--list-date .number {
  font-size: 2.5em;
  line-height: 1;
}
.transaction--list-date > span:not(.number) {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}
.transaction--list-date > span:not(.number) > small, .transaction--list-item-description > small {
  font-weight: 400;
  color: #616161;
}
.transaction--list-total-balance {
  font-weight: 500;
}
ul.transaction--list-box {
  margin-bottom: 0;
}
li.transaction--list-item {
  display: flex;
  justify-content: space-between;
}
.transaction--list-item-description {
  display: flex;
  flex-direction: column;
}
.category--badge {
  background-color: #00C853;
  margin: .4em .6em .4em 0;
  border-radius: 50%;
  font-size: 19px;
  color: white;
  width: 2.2em;
  height: 2.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
}
.category--badge::after {
  content: "";
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font: normal normal normal .6em/1 FontAwesome;
  border: 2px solid white;
  position: absolute;
  top: -.6em;
  right: -1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category--badge.category--badge-income::after {
  background-color: #2E7D32;
  content: "\f067";
}
.category--badge.category--badge-outcome::after {
  background-color: #E53935;
  content: "\f068";
}
.category--badge > span {
  line-height: 0;
}
#transaction-appbar {
  background-color: #78909C;
  color: white;
}
#transaction-appbar > a.appbar-brand {
  color: inherit;
}

/* create transaction */

#create-transaction-main .sidedrawer {
  background-color: #FAFAFA;
  border-left: 1px solid rgba(0, 0, 0, 0.26);
}

/* end create transaction */


/* pikaday */

.pikaday-overlay.hidden {
  display: none;
}
.pika-table {
  margin-bottom: 0;
}

/* end pikaday */


/* category-selector component */

.category--selector {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.category--selector > .main {
  flex-grow: 1;
  overflow: auto;
  min-height: 144px;
  padding: 0 15px;
}
.category--selector .mui-tabs__bar > li.mui--is-active {
  border-bottom: none;
  border-top: 2px solid #2196F3
}
.category--selector .list-item--info {
  position: relative;
}
.category--selector .list-item--info::after {
  content: "";
  width: 81%;
  position: absolute;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.26);
  right: 0;
  bottom: 10%;
}

/* end category-selector component */
.transaction-value-input .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  background-color: rgba(0,0,0,.2);
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-value-input .overlay > div {
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
/* category-selector-input component */

.category-selector-input > span,
.transaction-value-input > span {
  min-height: 32px;
  width: 100%;
  font-size: 16px;
  line-height: 32px;
  display: block;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.category-selector-input.category-selector-input-focused > span,
.transaction-value-input.input-focused > span {
  min-height: 33px;
  margin-bottom: -1px;
  border-color: #2196F3;
  border-width: 2px
}
.category-selector-input.category-selector-input-focused ~ label, .category-selector-input.category-selector-input-full ~ label,
.transaction-value-input ~ label {
  color: #2196F3;
  transform: translate(0px, 0px);
  font-size: 12px;
  line-height: 15px;
  text-overflow: ellipsis;
}
.category-selector-input.category-selector-input-full:not(.category-selector-input-focused) ~ label,
.transaction-value-input ~ label {
  color: rgba(0, 0, 0, 0.54);
}
.transaction-value-input.input-focused ~ label {
  color: #2196F3;
}
/* end category-selector-input component */


/* Sidedrawer */

.sidedrawer {
  width: 300px;
  transition: transform 0.2s ease-in-out;
  position: fixed;
  bottom: 0;
}
.sidedrawer.sidedrawer-left-positioned {
  left: 0;
  transform: translateX(-300px);
}
.sidedrawer.sidedrawer-right-positioned {
  right: 0;
  transform: translateX(300px);
}
.sidedrawer-sibling {
  margin: 0;
  transition: margin 0.2s ease-in-out;
}
.sidedrawer.sidedrawer-opened {
  transform: translateX(0);
}
.sidedrawer-sibling.sidedrawer-sibling-opened.sidedrawer-sibling-right {
  margin-right: 300px;
}
.sidedrawer-sibling.sidedrawer-sibling-opened.sidedrawer-sibling-left {
  margin-left: 300px;
}

/* end Sidedrawer */


/* calc input */

.calc-input {
  max-width: 400px;
}
.calc-input--actions, .calc-input--actions button, .calc-input--playground input {
  border: 1px solid rgba(0, 0, 0, 0.26);
}
.calc-input--playground input {
  border-bottom: none;
  width: 100%;
  font-size: 2.3em;
  line-height: 3;
  padding-left: .3em;
}
.calc-input--actions button {
  height: 50px;
  background-color: #FAFAFA;
  padding: 0;
  border-top: none;
  border-left: none;
  outline: none;
}
.calc-input--actions button:active {
  background-color: #BDBDBD;
}
.calc-input--actions .calc-input--op-btn, .calc-input--actions .calc-input--del-btn {
  background-color: #E0E0E0;
}
.calc-input--actions .calc-input--op-btn:active, .calc-input--actions .calc-input--del-btn:active {
  background-color: #757575;
}
.calc-input--actions .calc-input--reset-btn {
  background-color: #F9A825;
}
.calc-input--actions .calc-input--reset-btn:active {
  background-color: #F57F17;
}
.calc-input--actions .calc-input--commit-btn.commit {
  background-color: #00C853;
}
.calc-input--actions .calc-input--commit-btn.commit:active {
  background-color: #43A047;
}
.calc-input--actions .calc-input--commit-btn.calculate {
  background-color: #2196F3;
}
.calc-input--actions .calc-input--commit-btn.calculate:active {
  background-color: #1976D2;
}
.calc-input--actions {
  display: flex;
  flex-direction: column;
  border-right: none;
  border-bottom: none;
}
.calc-input--actions > div {
  display: flex;
}
.calc-input--actions .calc-input--operations button {
  width: 25%;
}
.calc-input--actions .calc-input--numpad {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 75%;
}
.calc-input--actions .calc-input--numpad button {
  width: 33.333333333333333333%;
}
.calc-input--actions .calc-input--numpad button[data-number="0"] {
  width: 66.666666666666666666%;
  order: 1;
}
.calc-input--general-actions {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.calc-input--general-actions .calc-input--commit-btn {
  flex-grow: 1;
}

/* end calc input */

.create-transaction-link {
  bottom: 21px;
  display: block;
  left: 0;
  margin: 0 auto;
  right: 0;
}
