.month-summary-header,
.transaction--list-header {
  font-weight: 600;
  padding: 0 5px 5px;
}
.month-summary-header {
  font-size: 18px;
  text-transform: capitalize;
}
.month-summary-content {
  > div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    &:last-child {
      flex-direction: row-reverse;
    }
  }
  .month-summary-balance-total {
    font-size: 17px;
    font-weight: 500;
    width: 100px;
    text-align: right;
  }
}
.no-transactions {
  color: #737373;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5em;
  small {
    font-size: 65%;
  }
}

.create-transaction-link {
  position: fixed;
  bottom: 10px;
  right: 15px;
}
