<div class="mui-col-xs-12">
  <div class="month-summary mui-panel">
    <div class="mui--divider-bottom month-summary-header">
      <a href="#">{{model.name}} overview <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
    <div class="month-summary-content">
      <table class="mui-table">
        <tbody>
          <tr>
            <td>Opening balance</td>
            <td class="month-summary-balance">2,145.56</td>
          </tr>
          <tr>
            <td>Current balance</td>
            <td class="month-summary-balance">989.45</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td class="mui--divider-top month-summary-balance month-summary-balance-total expense-amount">-1,952.46</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="mui-col-xs-12">
  <div class="mui-row">
    <div class="mui-col-xs-12">
      <div class="mui-panel transaction--list-box">
        <div class="mui--divider-bottom transaction--list-header">
          <div class="transaction--list-date">
            <span class="number">18</span>
            <span>
              Friday
              <small>March 2016</small>
            </span>
          </div>
          <span class="transaction--list-total-balance income-amount">+5.34</span>
        </div>
        <ul class="mui-list--unstyled">
          <li class="transaction--list-item">
            <div class="transaction--list-item-info">
              <div class="category--badge category--badge-income">
                <span>Sp</span>
              </div>
              <h3 class="transaction--list-item-description">Gym<small>Sport</small></h3>
            </div>
            <span class="transaction--list-item-balance income-amount">+8</span>
          </li>
          <li class="transaction--list-item">
            <div class="transaction--list-item-info">
              <div class="category--badge category--badge-expense">
                <span>Fd</span>
              </div>
              <h3 class="transaction--list-item-description">Coffee<small>Food</small></h3>
            </div>
            <span class="transaction--list-item-balance expense-amount">-8</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
