<header>
  <nav class="mui-appbar">
    <span class="appbar-brand appbar-title mui--appbar-line-height">Pie</span>
    <span class="appbar-brand mui--appbar-line-height"><i class="fa fa-bank"></i> 2,546.27</span>
  </nav>
</header>
<div class="mui--appbar-height"></div>
<main>
  <div class="mui-container-fluid">
    <div class="mui-row">
      <div class="mui-col-xs-12">
        <div class="month-summary mui-panel">
          <div class="mui--divider-bottom month-summary-header">
            <a href="#">September overview <i class="fa fa-chevron-right pull-right"></i></a>
          </div>
          <div class="month-summary-content">
            <table class="mui-table">
              <tbody>
                <tr>
                  <td>Opening balance</td>
                  <td class="month-summary-balance">2,145.56</td>
                </tr>
                <tr>
                  <td>Current balance</td>
                  <td class="month-summary-balance">989.45</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td class="mui--divider-top month-summary-balance month-summary-balance-total negative-total">-1,952.46</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="mui-col-xs-12">
        <div class="mui-row">
          <div class="mui-col-xs-12">
            <div class="mui-panel transaction--list-box">
              <div class="mui--divider-bottom transaction--list-header">
                <div class="transaction--list-date">
                  <span class="number">18</span>
                  <span>
                    Friday
                    <small>March 2016</small>
                  </span>
                </div>
                <span class="transaction--list-total-balance">+5.34</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
