<header>
  <nav id="transaction-appbar" class="mui-appbar">
    <h1 class="mui--appbar-line-height appbar-brand">Create a new transaction</h1>
  </nav>
</header>
<div class="mui--appbar-height"></div>
<main id="create-transaction-main">
  <div class="mui-container-fluid sidedrawer-sibling">
    <div class="mui-row">
      <div class="mui-col-xs-12">
        <form>
          <div class="mui-textfield mui-textfield--float-label">
            {{one-way-input type="tel" value=transactionValue name="transaction-value" update=(action (mut transactionValue))}}
            <label for="transaction-value">Value</label>
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            {{one-way-input value=transactionDescription name="transaction-description" update=(action (mut transactionDescription))}}
            <label for="transaction-description">Description</label>
          </div>
          <div class="mui-textfield mui-textfield--float-label">
            {{category-selector-input
              categories=model selectedCategory=transactionCategory
              onSelection=(action (mut transactionCategory))
            }}
            <label for="transaction-category">Category</label>
          </div>
          <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
        </form>
      </div>
    </div>
  </div>
</main>
