<header>
  <nav class="mui-appbar">
    <span class="appbar-brand appbar-title mui--appbar-line-height">Pie</span>
    <span class="appbar-brand mui--appbar-line-height"><i class="fa fa-bank"></i> 2,546.27</span>
  </nav>
</header>
<div class="mui--appbar-height"></div>
<main>
  <div class="mui-container-fluid">
    <div class="mui-row">
      {{outlet}}
    </div>
  </div>
</main>
