<header>
  <nav class="mui-appbar">
    <span class="appbar-brand appbar-title mui--appbar-line-height">Pie</span>
    <span class="appbar-brand mui--appbar-line-height">
      <i class="fa fa-bank"></i>
      {{!-- <span data-test-selector="wallet-value">{{format-money wallet.value format="%s %v"}}</span> --}}
    </span>
  </nav>
</header>
<div class="mui--appbar-height"></div>
<main>
  <div class="mui-container-fluid">
    <div class="mui-row">
      {{outlet}}
    </div>
  </div>
</main>
