<form {{action "createUser" on="submit"}}>
  {{one-way-input data-test-username-input}} {{one-way-input data-test-initial-balance-input}}
  <button type="submit" data-test-create-user-btn></button>
</form>
