<form {{action "createUser" on="submit"}}>
  {{one-way-input data-test-username-input required=true value=username update=(action (mut username))}}
  {{one-way-input data-test-initial-balance-input required=true value=displayBalance update=(action (mut balance))}}
  <button type="submit" data-test-create-user-btn></button>
</form>
